/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/* Headers */
header{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap:wrap;
}

header h1{
  align-self: center;
}

header p{
  align-self: center;
}

.styleguide_heading{
  color: white;
}

h1{
  text-align: center;
  margin-top: 1rem;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-right: 0.5%;
}

h2 {
  margin-top: 1rem;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 0.25rem;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

.middle_h4{
  margin-top: 5%;
  margin-bottom: 0.25rem;
}

/* Sections */
.element {
  background-color: #D1D1C7;
  margin: 1%;
  padding: 1%;
  flex-grow: 1;
  min-height: 20%;
  min-width: 20%;
  padding-bottom: 2rem;
  margin-bottom:4rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/* Body Text */

body {
  font-family: "Pink Chicken", 'Times New Roman', Times, serif;
  padding: 2rem;
  accent-color: #799FCC;
  background-image: url("../img/stella_fishing.png");
  background-blend-mode: multiply;
  background-color: #799FCC;
}

p {
  margin-top: 0;
  max-width: 700px;
  font-size: larger;
}

/* Total value for the checkout */
#total_value{
  font-weight: bold;
  font-size: x-large;
}

img{
  max-width: 20rem;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

#programmer{
  background-color: #799FCC;
}

#programmer:hover{
  background-color: #153576;
  color: #D1D1C7;
}

#programmer:checked{
  background-color: #153576;
  color:red;
}

.viewMore{
  background-color: #153576;
  color: #D1D1C7;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

.viewMore:hover, .viewMore:focus{
  background-color: #799FCC;
  color: #D1D1C7;
  opacity: 0.5;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

button[type=submit]{
  margin: 2%;
  background-color: #153576;
  color: #D1D1C7;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

button[type=submit]:hover, button[type=submit]:focus{
  background-color: #799FCC;
  color: #D1D1C7;
  opacity: 0.5;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

button[type=reset]{
  margin: 2%;
  background-color:firebrick;
  color: #D1D1C7;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

button[type=reset]:hover, button[type=reset]:focus{
  background-color: crimson;
  color: #D1D1C7;
  opacity: 0.5;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

/* Labels */

#inputLabel{
  background-color: #799FCC;
}

label[for=inputLabel]{
  font-size: 120%;
}

/* Navigations and links */

header nav{
  display: block;
  align-self: flex-end;
  background-color: #153576;
  color: #D1D1C7;
  margin-bottom: 3%;
  margin-left: 0rem;
  padding-top: 0.5%;
  padding-left: 0.6%;
  padding-right: 0.6%;
  padding-bottom: 0.5%;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
}

header nav a{
  display: block;
  align-self: flex-end;
  background-color: #153576;
  color: #D1D1C7;
  margin-bottom: 1%;
  margin-left: 0rem;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.6%;
  padding-right: 0.6%;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
}

header nav a:hover, header nav a:focus {
  text-decoration: none;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a{
  margin: 0.3%;
  margin-left: 0;
  margin-right: 0;
  padding: 1%;
  min-width: 5%;
  margin-bottom:4rem;
  background-color: #153576;
  color: #D1D1C7;
  align-self: center;
  font-family: "Violet Smile", Georgia, 'Times New Roman', Times, serif;
}

nav a:hover, nav a:focus{
  opacity: 50%;
  text-decoration: none;
}
a:hover, a:focus{
    color:red;
}

a img {
  width: 100%;
}

a:hover img {
  opacity:0.5;
  color:aquamarine;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* Fonts */
@font-face {
  font-family: "Pink Chicken";
  src: url('../fonts/Pink_chicken/PinkChicken-Regular.ttf');
  src:url('../fonts/Pink_chicken/PinkChicken-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Violet Smile";
  src: url('../fonts/violet_smile/Violet\ Smile.ttf');
  src:url('../fonts/violet_smile/Violet\ Smile.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/* Knowledge on how to use flexbox taken from https://jonitrythall.com/flexbox-cheatsheet */
.products_container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products_container .products{
  display: flex;
  margin-bottom: 10%;
  flex-direction: row;
  justify-content: center;
  background-color: #799FCC;
  width: 90%;
}

.products_container .products img{
  align-self: center;
}

.products_container .products .product_content{
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  flex-grow: 1;
  min-height: 20%;
  min-width: 20%;
  padding-bottom: 2rem;
  margin-bottom:4rem;
}

.products_container .products .product_content button{
  align-self: baseline;
}

.payment_container{
  display: flex;
  align-items:baseline;
  flex-direction: column;
  justify-content: center;
}

.payment_container div{
  background-color: #D1D1C7;
  padding: 3rem;
  margin-bottom: 5rem;
}

#payment{
  display: flex;
  flex-direction: column;
  background-color: #D1D1C7;
  color:black;
  border-color: #153576;
  border: 1px;
  border-style: solid;
  max-width: 90%;
}

#payment label{
  font-size: larger;
}

#payment input[type=text]
{
  font-size: x-large;
}

#checkout{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#checkout li{
  font-size: x-large;
  display: flex;
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: center;
}

#checkout li img{
  align-self: center;
}

#checkout li .product_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  margin-left: 10%;
  padding: 1%;
  flex-grow: 1;
  min-height: 20%;
  min-width: 20%;
  padding-bottom: 2rem;
}

#checkout li .product_content button[type=reset]{
  align-self: flex-start;
}

#interactive_elements{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#interactive_elements h2{
  align-items: center;
}

#text_elements{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#text_elements .element h3{
  align-items: center;
}

.heading_container{
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  flex-direction: row;
}

.heading_container div{
  margin: 1%;
  padding: 1%;
  flex-grow: 1;
  min-height: 20%;
  min-width: 20%;
  padding-bottom: 2rem;
  margin-bottom:4rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

#combined_elements{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#branding_elements{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#citations{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#citations ul{
  background-color: #D1D1C7;
}

#credit_card{
  background-color: #799FCC;
}

#credit_card{
  background-color: #153576;
  color: #D1D1C7;
}

#credit_card{
  background-color: #153576;
  color:red;
}

#debit_card{
  background-color: #799FCC;
}

#debit_card{
  background-color: #153576;
  color: #D1D1C7;
}

#debit_card{
  background-color: #153576;
  color:red;
}

#card_check{
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  margin-top: 0%;
  padding: 1rem;
}

.confirmation{
  display: flex;
  flex-direction: row;
  align-self: center;
}
